<menu>
    <VPN>
        <IPsec cssClass="fa fa-lock fa-fw" visibility="delete">
            <Connections order="5" url="/ui/ipsec/connections" visibility="delete"/>
            <Keys order="30" VisibleName="Pre-Shared Keys" url="/ui/ipsec/pre_shared_keys" visibility="delete"/>
            <KeyPairs order="40" VisibleName="Key Pairs" url="/ui/ipsec/key_pairs" visibility="delete"/>
            <Settings order="50" VisibleName="Mobile &amp; Advanced Settings" url="/ui/ipsec/connections/settings" visibility="delete"/>
            <Status order="60" VisibleName="Status Overview" url="/ui/ipsec/sessions" visibility="delete"/>
            <Leases order="70" VisibleName="Lease Status" url="/ui/ipsec/leases" visibility="delete"/>
            <SAD order="80" VisibleName="Security Association Database" url="/ui/ipsec/sad" visibility="delete"/>
            <SPD order="90" VisibleName="Security Policy Database" url="/ui/ipsec/spd" visibility="delete"/>
            <VTI order="90" VisibleName="Virtual Tunnel Interfaces" url="/ui/ipsec/vti" visibility="delete"/>
            <LogFile order="100" VisibleName="Log File" url="/ui/diagnostics/log/core/ipsec" visibility="delete"/>
        </IPsec>
    </VPN>
</menu>
