<menu>
    <Services>
        <Unbound VisibleName="DNS Server" cssClass="fa fa-tags fa-fw">
            <General order="10" url="/ui/unbound/general"/>
            <Overrides order="20" url="/ui/unbound/overrides"/>
            <Advanced order="30" url="/ui/unbound/advanced" visibility="delete"/>
            <ACL VisibleName="Access Lists" order="40" url="/ui/unbound/acl" visibility="delete"/>
            <Blocklists order="50" url="/ui/unbound/dnsbl/index" visibility="delete"/>
            <Forward VisibleName="Query Forwarding" order="60" url="/ui/unbound/forward" visibility="delete"/>
            <Dot VisibleName="DNS over TLS" order="70" url="/ui/unbound/dot" visibility="delete"/>
            <Statistics order="90" url="/ui/unbound/stats"/>
            <LogFile VisibleName="Log File" order="100" url="/ui/diagnostics/log/core/resolver"/>
        </Unbound>
    </Services>
</menu>
