$colors: (
  brand-primary: #5570F1,
  content-background: #1F2937,
  body-background: #1F2937,
  navbar-default-color: #F9FAFB,
  page-content-head-background: #1F2937,
  page-foot-background: #1F2937,
  table-bg-accent: #374151,
  login-modal-head-background: #1F2937,
  navbar-default-bg: #111827,
  list-group-link-color: #F9FAFB,
  text-color: #F9FAFB,
  border-default: #374151,
  dashboard-widget-error: #EF4444,
  border-highlight: #6B7280,
  chip-background: #3B82F6,
  chip-text: #FFF,
);
