<menu>
    <Firewall>
        <!-- TODO: Hide unnecessary menu items -->
        <Shaper cssClass="fa fa-filter fa-fw" visibility="delete">
            <Pipes order="10" url="/ui/trafficshaper#pipes"/>
            <Queues order="20" url="/ui/trafficshaper#queues"/>
            <Rules order="30" url="/ui/trafficshaper#rules"/>
            <Status order="40" url="/ui/trafficshaper/service/statistics"/>
        </Shaper>
    </Firewall>
</menu>
